html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}
img {
  width: 150px;
  margin: 0 auto;
}
input {
  color: #432000;
  text-align: center;
  background-color: #dce1eb;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-seri;
}
button:hover {
  background-color: #432000;
  cursor: pointer;
}
li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}
ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
ul li {
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  list-style: none;
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
}
